<!DOCTYPE html>
<html>
<head>
  <title><%= pkg.title %> - TripCard</title>
</head>
<body>
  <h1><%= pkg.title %></h1>
  <p><%= pkg.description %></p>
  <p>Price: ₹<%= pkg.price %></p>
  <a href="<%= pkg.deeplink %>">Book Now</a>
</body>
</html>
